@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FloatingWrapper IsOpen="_isOpen">
    <TargetTemplate>
        <button @onclick="() => _isOpen = true" id="@context">
            CLICK ME
        </button>
    </TargetTemplate>
    <ContentTemplate>
        <div class="floating__content__wrapper"
             tabindex="0">
            <ul>
                @foreach (var item in Enumerable.Range(0, 10))
                {
                    <li @onclick="@ClickHandler">
                        Item @item
                    </li>
                }
            </ul>
        </div>
    </ContentTemplate>
</FloatingWrapper>

@code {

    private bool _isOpen;

    private void ClickHandler()
    {
        _isOpen = false;
    }

}
